@import "tailwindcss";

@theme {
  --color-primary: #13ec5b;
  --color-background-light: #f6f8f6;
  --color-background-dark: #102216;
  --color-surface-dark: #1a3322;
  --color-surface-darker: #0d1b11;
  --color-surface-card: #1c3826;

  --font-display: "Manrope", sans-serif;

  --shadow-neon: 0 0 10px rgba(19, 236, 91, 0.3);
  
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
  background-color: var(--color-background-light);
  color: #1f2937;
  font-family: var(--font-display);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-background-dark);
    color: #ffffff;
  }
}

.dark body {
  background-color: var(--color-background-dark);
    color: #ffffff;
}
